<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en-US</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en-US</string>
    <string>pt-BR</string>
  </array>
  <key>CFBundleExecutable</key>
  <string>Stash</string>
  <key>CFBundleIdentifier</key>
  <string>com.robsonferreira.stash</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Stash</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.14</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSRemindersFullAccessUsageDescription</key>
  <string>Stash needs access to Reminders to create reminder items.</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>Stash creates reminders in the Reminders app when you save reminder items.</string>
</dict>
</plist>
